body {
    background-color: #5589d3;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgb(152, 176, 232);
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow:rgba(14, 14, 14, 0.15);
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

.nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav a {
    text-decoration: none;
    background-color: #3b4f5f;
    color: white;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 4px;
}

.nav a:hover {
    background-color: #0d1012;
}

input {
    width: 60%;
    padding: 6px;
}

input[type="submit"] {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 8px 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #191616;
}

th {
    background-color: #f8f6f6;
}

th, td {
    padding: 10px;
    text-align: center;
}

.footer {
    text-align: center;
    color: rgb(133, 48, 48);
    margin-top: 20px;
}
